streamlit>=1.35.0
pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.12.0
gspread>=5.12.0
gspread-dataframe>=3.3.0
google-auth>=2.22.0
google-auth-oauthlib>=1.0.0
google-api-python-client>=2.80.0
scipy>=1.11.0
plotly>=5.18.0
scikit-learn>=1.0.0
fitdecode>=0.11.0
python-dateutil>=2.8.2
